body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #ccc;
  font-size : 100%;
}
*{
  box-sizing: inherit;
}
#image{
  max-width:100%;
  height: auto;
  margin: 0px auto;
  display:block;
}
.header__title--main,
.header__title--sub{
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  text-align : center;
  line-height : 1.45;
}
.header__title--main{
  font-size: 3em;
  letter-spacing: 1.7rem;
  line-height: 1.45;
  font-weight: 700;
  padding:0;
  margin: 3rem 0 1rem 0;
}
.header__title--sub{
  font-weight: 200;
  letter-spacing: 0.75rem;
  margin-bottom: 4rem;
}
.img__caption{
  text-align : center;
  display:block;
}
.img__caption--main,
.img__caption--sub{
  font-size: 1.5rem;
  letter-spacing: 1rem;
  text-transform : italic;
}
.img__caption--sub{
  padding-bottom : 1.75rem;
}
.img__caption--main {
  paddding-bottom : 0.5rem;
}
.section__intro{
  border-radius : 0.5rem;
  background-color: #ddd;
  width: 90%;
  margin: 0px auto;
}
.info__header{
  text-transform: capitalize;
  text-align : center;
  font-size : 2rem;
  font-weight: 600;
  letter-spacing: 1.5rem;
}
.info__content{
  font-size: 1.2rem;
  line-height: 1.45;
  letter-spacing: 0.2rem;
  
}
.intro__article{
  width: 90%;
  margin: 3rem auto;
  background-color: #ddd;
  padding: .5rem;
}
.footer{
  text-align:center;
  font-size: 2rem;
  padding: 1rem;
}
.listing__showcase{
  width: 50%;
  margin : 0px auto;
  text-align: center;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px){
  html{
     font-size : 55%;
  }
   .header__title--main{
    padding-top: 1rem;
  }
  .header__title--sub{
    margin-bottom: 2rem;
  }
  .img__caption--main,
  .img__caption--sub{
    font-size: 2rem;
  }
  .img__caption--main{
     padding-bottom : 1rem;
  }
  
  .info__content{
    width : 100%;
    text-align: left;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  html {
    font-size : 62.5%;
  }
  .header__title--main{
    padding-top: 1rem;
  }
  .header__title--sub{
    margin-bottom: 2rem;
  }
  .img__caption--main,
  .img__caption--sub{
    font-size: 2rem;
  }
  .img__caption--main{
     padding-bottom : 1rem;
  }
  
  .info__content{
    width : 100%;
    text-align: left;
  }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  html {
    font-size : 100%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  html {
    font-size : 120%;
  }
}